<html>
<title>Login Page</title>
<body>
    <h1>LOGIN PAGE</h1>
    <form action="/user/logined" method="POST">
        <input type="text" placeholder="Email" name="email"/></br>
        <input type="password" placeholder="Password" name="password"/></br>
        <input type="submit"/>  
    </form>
</body>
</html>
